body {
    background-color: pink;
}

.linkbuttons {
    display: flex;
    flex-direction: column;
}

.linkbutton {
    min-height: 100px;
    background-color: aqua;
}


.title {
    text-align: center;
    font-size: 40px;
}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}


.description {
    margin-left: 10%;
    font-size: 20px;
}